/* simple example */
/* body{
    background-color: pink;
}
@media  screen and (min-width:480px) {
   body{
    background-color: lightgreen;
   } 
} */

/* floating menu */
/* .wrapper{
    overflow: auto;
    
}
#main{
    margin-left: 4px;
}
#leftsidebar{
    float: none;
    width: auto;
}
#menulist{
    margin: 0;
    padding: 0;
}
.menuitem{
    background-color: wheat;
    border: 1px solid green;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
}
@media screen and (min-width:1000px) {
    #leftsidebar{
        width: 200px;
        float: left;
    }
    #main{
        margin-left: 216px;
    }
    
} */
/* Responsive 4 column layout */
/* * {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  /* .column {
    float: left;
    width: 25%;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both; */
  /* }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  /* @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  } */ */
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } */ */ */
/* Orientation */
div.example {
    background-color: lightgreen;

  }
  @media(oreintation: landscape) {
    body{
        background-color: green;
    }
    
  }